header {
  text-align: center;
}

.practice {
  /* grow to take up the entire height of the page */
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.practice-layout {
  /* set up columns with proportional widths */
  display: flex;
}

.practice-side-panel {
  height: 100%;

  /* column width */
  flex: 15;

  display: flex;
  align-items: center;
  justify-content: center;
}

.practice-side-panel:hover {
  background: #d3d3d3;
}

.practice-center-panel {
  height: 100%;

  /* column width */
  flex: 70;

  /* to center the brackets */
  display: flex;
  align-items: center; /* vertical align */
  justify-content: center; /* horizontal align*/
}

/* used this for debugging */
/* .practice-center-panel:hover {
  background: #d3d3d3;
} */

.card {
  /* to center the card within the layout */
  margin: auto;

  /* card sizing (to be fixed) */
  width: 40%;
  height: 45%;

  /* to center the content (currently just text) within the card */
  display: flex;
  align-items: center; /* vertical align */
  justify-content: center; /* horizontal align*/
}

.card-text {
  font-size: x-large;
}